[Desktop Entry]

Type=Application
Version=1.0.0
Name=Whisperer
Comment=LAN Direct Messenger
Exec=/usr/local/bin/whisperer/whisperer
Icon=/usr/local/bin/whisperer/tcp.png
Categories=Internet;